* {
    box-sizing: border-box;
}

img{
    height: 200px;
    width: 200px;
}
body {
    background-color: #cde780;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;  
    font-size: 18px;
    margin: 0;
}

header {
    background-color: #59594a;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
}

.mission, .products {
    border: 1px solid black;
    margin: 10px auto;
    width: fit-content;
    padding: 0px 10px 10px 10px;
}

.products {
    margin: 10px
}

.mission h2, .products h2 {
    text-align: center;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.products .product1, .products .product2, .products .product3 {
    text-align: center;
    border: 1px dotted black;
    padding: 0px 10px 25px 10px;
}

footer {
    font-size: small;
    background-color: #59594a;
    color: white;
}
